
# ============================================
# DONNÉES
# ============================================
*.pickle
*.parquet
*.csv
*.sqlite

# ============================================
# GRAPHIQUES
# ============================================
*.png

# ============================================
# DOSSIERS
# ============================================
#data/
